{% set fname = "{{bench_location}}/{{name}}/tb/tests/BUILD" %}
load("@rules_verilog//verilog:defs.bzl", "verilog_dv_library", "verilog_dv_test_cfg")
# pragma uvmf custom test_bzl_loads begin
# pragma uvmf custom test_bzl_loads end

package(default_visibility = ["//visibility:public"])

verilog_dv_library(
    name = "tests",
    srcs = glob([
        "src/*.sv*",
        "*.sv*",
    ]),
    in_flist = [
        # pragma uvmf custom in_flist_prepend begin
        # pragma uvmf custom in_flist_prepend end
    ] + glob([
        "*_pkg.sv",
    ]),
    deps = [
        "//hw/dv/project_benches/{{name}}/tb/parameters:pkg",
        # pragma uvmf custom deps_additional begin
        # pragma uvmf custom deps_additional end
    ],
)

verilog_dv_test_cfg(
    name = "base",
    abstract = True,
    sim_opts = {
        # pragma uvmf custom sim_opts begin
        "+PLLTS12FFCLJFRACB_FORCE_VDDREG": "",
        "+wdog=": "1000000",
        "+assert_reinitialization_delay=": "50",
        "+ctxlen=": "50",
        "+filelen=": "30",
        # pragma uvmf custom sim_opts end
    },
    tb = "//hw/dv/project_benches/{{name}}/tb:{{name}}_tb",
)

# pragma uvmf custom additional_test_cfgs begin
# pragma uvmf custom additional_test_cfgs end

# pragma uvmf custom test_configs begin
# pragma uvmf custom test_configs end
